## Build results
bin/
obj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual
.vscode/
.vs/

## ASP.NET Core secrets
secrets.json

## Logs
*.log

## OS-specific
.DS_Store
Thumbs.db

## Dependency directories
packages/
node_modules/

## Publish output
wwwroot/dist/
wwwroot/lib/

## Others
*.db
*.sqlite
